<!-- Este componente representa la cabecera de la página, que incluye el logo y la navegación principal.-->
<header class="header">
  <!-- Contiene el logo de la página, que es un enlace a la página principal.-->
  <div class="logo">
    <a href="/">
      <!-- Imagen del logo que redirige a la página principal.-->
      <img src="images/logo.png" class="logo-image">
    </a>
  </div>
  
  <!-- Título de la página con animación de entrada.-->
  <h1 class="animate__animated animate__fadeIn">Hogar Canario
    <h2>Sevilla</h2> <!-- Subtítulo asociado al nombre principal -->
  </h1>
  
  <!-- Barra de navegación con enlaces a las páginas principales. -->
  <nav class="nav">
    <ul>
      <li>
        <!-- Página principal -->
        <a href="/">Inicio</a>
      </li>
      <li>
        <!-- Página de servicios -->
        <a href="/lugares">Lugares</a>
      </li>
      <li>
        <!-- Página de información sobre la empresa -->
        <a href="/about">Acerca de</a>
      </li>
      <li>
        <!-- Página de contacto -->
        <a href="/contact">Contacto</a>
      </li>

    </ul>
  </nav>
</header>