@font-face {
    font-family: 'CANIS';
    src: url(assets/CANIS-MAJOR.ttf) format('truetype');
}
h1 {
    font-family: 'CANIS';
    font-weight: 900;
    font-size: 3rem;
    color: #ff0606;
    text-align: center;
    margin-top: 2rem;
}