<head>
    <link rel="stylesheet" href="home.component.css"/>
</head>
<app-sliderfotos></app-sliderfotos>
<section class="destination-section">
    <div class="container" style="background-image: url(images/fondos/Paisaje1.jpg);background-repeat: no-repeat;
     background-size: cover;">
        <h2 class="text-center mb-5" style="color:white">Destino de Pelicula</h2>
        <p class="lead text-center mb-5" style="color:white">Orgullosos de pertenecer de un destino de película con paisajes impresionantes, playas de ensueño y una rica cultura.</p>
        
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body" >
                        <h5 class="card-title">Nuestro Propósito</h5>
                        <p class="card-text">Esta casa acepta a los canarios residentes en sevilla y más para que sigan celebrando lo que nos hace únicos.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Únete</h5>
                        <p class="card-text">Unete a este pequeño trozo de canarias en Sevilla</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Actividades</h5>
                        <p class="card-text">Hacemos actividades de todo tipo como excursiones, conciertos etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <iframe type="text/html" width="100%" height="400" src="https://www.youtube.com/embed/Toon9VARRIU?autoplay=1" frameborder="0" ></iframe>
</div>
<div class="container">
    <div class="image-container">
        <img src="images/fondos/Paisaje2.jpg" alt="Sample Image">
    </div>
    <div class="text-container">
        <h2>Cual es nuestro objetivo</h2>
        <p>Queremos exponer y hacer voz de la maravillosa cultura que tenemos, dando nuestra estampa a donde vayamos.</p>
        <p>Todo canario esta invitado a hacerse socio y compartir esta manera de celebrar, reir y vivir de esta pequeña casa de canarias en Sevilla.</p>
    </div>
    

</div>
